{% assign publications = site.publications | reverse %}

{% if publications %}
  <section class="bg-light page-section" id=publications>

    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">
            <!--<span class="fa-stack fa-xs">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
              </span>-->
              {{ site.data.sitetext.publications.title | default: "Publications"}}</h2>
        </div>
      </div>

      <div class="publications">
        {% for publication in publications %}
          <div class="item">
            <div class="title">{{ publication.title }}</div>
            <div class="author">{{ publication.authors }}</div>
            <div class="confyear">
              <span class="conference"> {{ publication.conference }}</span>, {{ publication.year }}
            </div>
            {% if publication.pdf %}
              <a class="btn mt-3 mb-1 btn-sm" href={{ publication.pdf | relative_url }} target="_blank" rel="noopener">
              Paper
              </a>
            {% endif %}
            {% if publication.slides %}
              <a class="btn mt-3 mb-1 btn-sm" href={{ publication.slides | relative_url }} target="_blank" rel="noopener">
              Slides
              </a>
            {% endif %}
            {% if publication.video %}
              <a class="btn mt-3 mb-1 btn-sm" href={{ publication.video }} target="_blank" rel="noopener">
              Video
              </a>
            {% endif %}
            {% if publication.poster %}
              <a class="btn mt-3 mb-1 btn-sm" href={{ publication.poster | relative_url }} target="_blank" rel="noopener">
              Poster
              </a>
            {% endif %}
            {% if publication.code %}
              <a class="btn mt-3 mb-1 btn-sm" href={{ publication.code }} target="_blank" rel="noopener">
              Code
              </a>
            {% endif %}
          </div><!--//item-->
        {% endfor %}
      </div>
    </div>
  </section><!--//section-->
{% endif %}
