// Styling for the navbar
#mainNav {
  background-color: #FBE0C3;
  .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: $gray-800;
    border: 0;
    background-color: $bg-primary;
    @include heading-font;
  }
  .navbar-brand {
    color: $primary;
    font-size: 30px;
    @include serif-font;
    font-weight: 1000;
    &.active,
    &:active,
    &:focus,
    &:hover {
      _color: darken($primary, 10%);
    }
  }
  .navbar-nav {
    .nav-item {
      .nav-link {
        font-size: 18px;
        font-weight: 400;
        padding: 0.75em 0;
        letter-spacing: 1px;
        color: black;
        @include heading-font;
        &.active,
        &:hover {
          color: $primary;
        }
      }
    }
  }
}
@media(min-width:992px) {
  #mainNav {
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    _.navbar-brand {
      font-size: 2.5em;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }
    .navbar-nav {
      .nav-item {
        .nav-link {
          padding: 1.1em 1em !important;
        }
      }
    }
    &.navbar-shrink {
      padding-top: 0;
      padding-bottom: 0;
      _background-color: $gray-900;
      .navbar-brand {
        font-size: 1.75em;
        padding: 8px 0;
      }
    }
  }
}
