// Styling for the publications section

.publications {
  .title {
    font-size: 29px;
    margin-top: 20px;
    font-weight: 300;
  }
  .author {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 500;
  }
  .confyear {
    margin-top: 5px;
    font-size: 20px;
    .conference {
    }
  }
  .btn {
    color: $primary;
    border-color: $primary;
    margin-right: 15px;
    &:hover {
      color: $primary;
      background-color: $bg-primary;
    }
  }
  .btn.active.focus, .btn.active:focus, .btn.focus,
  .btn.focus:active, .btn:active:focus, .btn:focus {
    background-color: $bg-primary;
    box-shadow: 0 0 4px 4px $secondary;
  }
}

